.container {
    position: relative;
    height: auto;
    top: 70px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.row {
    display: flex;
    width: 750px;
    flex-flow: row wrap;
    justify-content: center;
    gap: 66px;
}

.container-ingresos {
    position: relative;
    height: auto;
    top: 90px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.row-ingresos {
    display: flex;
    width: 750px;
    flex-flow: row wrap;
    justify-content: center;
}
